/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Heebo');
* {
    font-family: 'Heebo', sans-serif;
}

.btn {
    background: #4990E2 !important;
    color: #FFFFFF !important;
}

.currentUser {
    background: #F2F2F2;
}